.emacs.desktop
.emacs.desktop.lock
bookmarks
projectile*
elpa
auto-save-list
.yas-compiled-snippets.el
*~
cookies
.cask
var
url
history
private.el
cache
\#*\#
*.elc
.\#*


/lisp/multi-term.el
/lisp/dired-details.el